<a href="https://colab.research.google.com/github/kartikeyahl/MS_analysis/blob/main/PunchTimeAnalysis10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Importing the libraries
import numpy as np
import pandas as pd
from datetime import datetime
import math

In [2]:
# Importing the excel
!unzip punch_short.xlsx
dataset = pd.read_excel('punch_short_.xlsx',parse_dates=['Date'],
    date_parser=lambda x: pd.to_datetime(x, format='%Y%m%d'))
dataset2=pd.read_excel('Master Data.xlsx')

unzip:  cannot find or open punch_short.xlsx, punch_short.xlsx.zip or punch_short.xlsx.ZIP.

In [3]:
#Renaming column name to a valid column name format as per python
dataset.rename(columns={'IN/OUT': 'IN_OUT'}, inplace=True)

In [4]:
#Droping rows that conatain 1 in 'IN_OUT' column
dataset=dataset[dataset.IN_OUT!=1]

In [5]:
#Converting Date column values into year-month-day format
# j,k=0,0
# for i in dataset.iloc[:,3]:
#   dataset.Date[j]=datetime.strptime(str(i),'%Y%m%d').date()
#   j+=1

dataset['Date'] = pd.to_datetime(dataset['Date'], errors='coerce')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [6]:
a1=str(dataset.iloc[0]['Date'])
a2=str(dataset.iloc[-1]['Date'])
d1 = datetime.strptime(a1[0:10], "%Y-%m-%d")
d2 = datetime.strptime(a2[0:10], "%Y-%m-%d")
date_diff = abs((d2 - d1).days)+1

In [7]:
#Calculating and appending Punch time difference for each employee with the corresponding E.Code into dataframe (l)
l=[]
for i in range(len(dataset)-1):
  j=i+1
  x=str(dataset.iloc[i]['Time'])
  y=str(dataset.iloc[j]['Time'])

  if len(x)<=5:
    x=x.zfill(6)
  if len(y)<=5:
    y=y.zfill(6)

  x = datetime.strptime(x, "%H%M%S")
  x.strftime("%I:%M %p")
  y = datetime.strptime(y, "%H%M%S")
  y.strftime("%I:%M %p")

  l.append([dataset.iloc[i]['E.Code'], dataset.iloc[i]['Date'].date(), dataset.iloc[i]['IN_OUT'], int(dataset.iloc[i]['Time']), datetime.combine(dataset.iloc[j]['Date'], y.time()) - datetime.combine(dataset.iloc[i]['Date'], x.time())])  
  i=i+2

In [8]:
#Replacing ":" with "." and getting upto 2 decimal places in Time to make mathematical operations feasible on i
for i in range(len(l)):
  l[i][4] = l[i][4].__str__().replace(":",".")
  s=l[i][4]
  l[i][4]=s[0:-3]

In [9]:
#Removing redundant rows and storing in new data-structure
l2=[]
for i in range(len(l)):
  if 'P20' not in str(l[i][2]):
    l2.append(l[i])

In [10]:
for i in range(len(l2)):
  if 'd' in l2[i][4]:
    s=l2[i][4]
    s=float(s[8:len(s)])
    l2[i][4]=24+s

In [11]:
# s='1 day, 0.53'

# s=float(s[5:len(s)])
# s=24+s
# print(s)

In [12]:
#Converting string type to float for Time column
for i in range(len(l2)):
  try:
   l2[i][4]=float("{:.2f}".format(float(l2[i][4])))
  except:
    print(l2[i][0],l2[i][4])

In [13]:
l2

[[27, datetime.date(2022, 10, 1), 'P10', 83100, 8.54],
 [80, datetime.date(2022, 10, 1), 'P10', 81800, 9.13],
 [88, datetime.date(2022, 10, 1), 'P10', 81100, 9.28],
 [125, datetime.date(2022, 10, 1), 'P10', 81100, 9.17],
 [126, datetime.date(2022, 10, 1), 'P10', 82600, 6.45],
 [165, datetime.date(2022, 10, 1), 'P10', 82400, 8.57],
 [167, datetime.date(2022, 10, 1), 'P10', 143800, 9.08],
 [168, datetime.date(2022, 10, 1), 'P10', 55900, 9.0],
 [169, datetime.date(2022, 10, 1), 'P10', 82300, 9.06],
 [172, datetime.date(2022, 10, 1), 'P10', 54800, 9.04],
 [174, datetime.date(2022, 10, 1), 'P10', 75800, 9.47],
 [181, datetime.date(2022, 10, 1), 'P10', 141000, 9.25],
 [183, datetime.date(2022, 10, 1), 'P10', 225900, 7.24],
 [189, datetime.date(2022, 10, 1), 'P10', 82200, 9.34],
 [190, datetime.date(2022, 10, 1), 'P10', 144300, 8.57],
 [191, datetime.date(2022, 10, 1), 'P10', 232300, 6.57],
 [196, datetime.date(2022, 10, 1), 'P10', 53900, 9.14],
 [198, datetime.date(2022, 10, 1), 'P10', 55700, 8.58],
 [201, datetime.date(2022, 10, 1), 'P10', 54900, 9.06],
 [202, datetime.date(2022, 10, 1), 'P10', 55700, 8.59],
 [206, datetime.date(2022, 10, 1), 'P10', 81400, 9.1],
 [208, datetime.date(2022, 10, 1), 'P10', 82700, 4.33],
 [209, datetime.date(2022, 10, 1), 'P10', 143800, 9.04],
 [210, datetime.date(2022, 10, 1), 'P10', 55900, 8.56],
 [211, datetime.date(2022, 10, 1), 'P10', 81500, 9.11],
 [214, datetime.date(2022, 10, 1), 'P10', 102700, 7.03],
 [221, datetime.date(2022, 10, 1), 'P10', 81800, 9.05],
 [240, datetime.date(2022, 10, 1), 'P10', 82200, 9.01],
 [245, datetime.date(2022, 10, 1), 'P10', 53900, 9.13],
 [247, datetime.date(2022, 10, 1), 'P10', 80700, 9.2],
 [251, datetime.date(2022, 10, 1), 'P10', 54600, 7.12],
 [252, datetime.date(2022, 10, 1), 'P10', 142000, 9.27],
 [253, datetime.date(2022, 10, 1), 'P10', 55800, 9.02],
 [254, datetime.date(2022, 10, 1), 'P10', 54700, 9.06],
 [257, datetime.date(2022, 10, 1), 'P10', 82300, 9.0],
 [259, datetime.date(2022, 10, 1), 'P10', 231300, 7.13],
 [262, datetime.date(2022, 10, 1), 'P10', 144500, 8.56],
 [263, datetime.date(2022, 10, 1), 'P10', 60000, 8.54],
 [267, datetime.date(2022, 10, 1), 'P10', 100400, 7.51],
 [280, datetime.date(2022, 10, 1), 'P10', 144400, 7.04],
 [281, datetime.date(2022, 10, 1), 'P10', 144600, 4.17],
 [285, datetime.date(2022, 10, 1), 'P10', 81300, 7.07],
 [287, datetime.date(2022, 10, 1), 'P10', 143800, 9.09],
 [288, datetime.date(2022, 10, 1), 'P10', 81900, 7.06],
 [292, datetime.date(2022, 10, 1), 'P10', 80700, 9.22],
 [294, datetime.date(2022, 10, 1), 'P10', 53800, 9.17],
 [296, datetime.date(2022, 10, 1), 'P10', 143700, 7.11],
 [297, datetime.date(2022, 10, 1), 'P10', 54500, 9.06],
 [298, datetime.date(2022, 10, 1), 'P10', 82300, 9.03],
 [300, datetime.date(2022, 10, 1), 'P10', 54900, 9.04],
 [301, datetime.date(2022, 10, 1), 'P10', 231300, 7.09],
 [302, datetime.date(2022, 10, 1), 'P10', 54800, 9.02],
 [303, datetime.date(2022, 10, 1), 'P10', 80900, 9.18],
 [306, datetime.date(2022, 10, 1), 'P10', 150400, 8.45],
 [317, datetime.date(2022, 10, 1), 'P10', 54600, 9.06],
 [318, datetime.date(2022, 10, 1), 'P10', 150300, 8.37],
 [320, datetime.date(2022, 10, 1), 'P10', 60100, 8.5],
 [321, datetime.date(2022, 10, 1), 'P10', 143800, 9.02],
 [324, datetime.date(2022, 10, 1), 'P10', 54600, 9.07],
 [329, datetime.date(2022, 10, 1), 'P10', 144300, 8.57],
 [334, datetime.date(2022, 10, 1), 'P10', 143900, 9.01],
 [335, datetime.date(2022, 10, 1), 'P10', 231300, 7.08],
 [336, datetime.date(2022, 10, 1), 'P10', 54800, 9.09],
 [339, datetime.date(2022, 10, 1), 'P10', 55100, 7.08],
 [345, datetime.date(2022, 10, 1), 'P10', 83100, 8.52],
 [347, datetime.date(2022, 10, 1), 'P10', 232300, 7.01],
 [352, datetime.date(2022, 10, 1), 'P10', 143300, 9.11],
 [361, datetime.date(2022, 10, 1), 'P10', 55500, 11.26],
 [368, datetime.date(2022, 10, 1), 'P10', 81900, 9.59],
 [377, datetime.date(2022, 10, 1), 'P10', 144500, 9.02],
 [379, datetime.date(2022, 10, 1), 'P10', 55500, 8.55],
 [381, datetime.date(2022, 10, 1), 'P10', 82300, 9.02],
 [382, datetime.date(2022, 10, 1), 'P10', 144100, 8.59],
 [388, datetime.date(2022, 10, 1), 'P10', 144100, 9.0],
 [390, datetime.date(2022, 10, 1), 'P10', 55500, 9.02],
 [392, datetime.date(2022, 10, 1), 'P10', 81300, 9.18],
 [395, datetime.date(2022, 10, 1), 'P10', 54200, 7.09],
 [396, datetime.date(2022, 10, 1), 'P10', 143200, 9.08],
 [398, datetime.date(2022, 10, 1), 'P10', 143600, 7.08],
 [399, datetime.date(2022, 10, 1), 'P10', 54300, 9.07],
 [402, datetime.date(2022, 10, 1), 'P10', 60100, 8.52],
 [405, datetime.date(2022, 10, 1), 'P10', 81300, 7.06],
 [409, datetime.date(2022, 10, 1), 'P10', 142200, 9.21],
 [417, datetime.date(2022, 10, 1), 'P10', 54600, 9.02],
 [419, datetime.date(2022, 10, 1), 'P10', 55800, 8.55],
 [423, datetime.date(2022, 10, 1), 'P10', 80500, 9.23],
 [424, datetime.date(2022, 10, 1), 'P10', 80000, 9.26],
 [426, datetime.date(2022, 10, 1), 'P10', 55800, 8.57],
 [429, datetime.date(2022, 10, 1), 'P10', 80900, 7.2],
 [432, datetime.date(2022, 10, 1), 'P10', 53500, 9.18],
 [434, datetime.date(2022, 10, 1), 'P10', 102400, 7.55],
 [442, datetime.date(2022, 10, 1), 'P10', 81600, 10.06],
 [448, datetime.date(2022, 10, 1), 'P10', 144500, 8.57],
 [449, datetime.date(2022, 10, 1), 'P10', 143200, 9.08],
 [450, datetime.date(2022, 10, 1), 'P10', 55800, 8.53],
 [452, datetime.date(2022, 10, 1), 'P10', 83500, 8.51],
 [456, datetime.date(2022, 10, 1), 'P10', 144500, 8.56],
 [458, datetime.date(2022, 10, 1), 'P10', 144300, 9.01],
 [459, datetime.date(2022, 10, 1), 'P10', 54400, 9.07],
 [460, datetime.date(2022, 10, 1), 'P10', 144700, 8.58],
 [465, datetime.date(2022, 10, 1), 'P10', 141000, 9.27],
 [466, datetime.date(2022, 10, 1), 'P10', 144300, 8.57],
 [468, datetime.date(2022, 10, 1), 'P10', 53900, 9.17],
 [471, datetime.date(2022, 10, 1), 'P10', 150400, 8.42],
 [474, datetime.date(2022, 10, 1), 'P10', 60000, 8.55],
 [477, datetime.date(2022, 10, 1), 'P10', 142800, 10.13],
 [483, datetime.date(2022, 10, 1), 'P10', 55000, 9.01],
 [485, datetime.date(2022, 10, 1), 'P10', 54800, 9.04],
 [487, datetime.date(2022, 10, 1), 'P10', 55000, 9.02],
 [488, datetime.date(2022, 10, 1), 'P10', 54600, 9.04],
 [489, datetime.date(2022, 10, 1), 'P10', 55800, 8.52],
 [491, datetime.date(2022, 10, 1), 'P10', 54500, 9.06],
 [492, datetime.date(2022, 10, 1), 'P10', 54500, 9.06],
 [493, datetime.date(2022, 10, 1), 'P10', 83000, 8.57],
 [494, datetime.date(2022, 10, 1), 'P10', 53100, 9.25],
 [499, datetime.date(2022, 10, 1), 'P10', 55100, 2.4],
 [501, datetime.date(2022, 10, 1), 'P10', 232000, 7.01],
 [502, datetime.date(2022, 10, 1), 'P10', 90200, 8.21],
 [504, datetime.date(2022, 10, 1), 'P10', 60100, 8.52],
 [505, datetime.date(2022, 10, 1), 'P10', 54800, 9.05],
 [506, datetime.date(2022, 10, 1), 'P10', 55100, 9.09],
 [509, datetime.date(2022, 10, 1), 'P10', 144900, 8.57],
 [510, datetime.date(2022, 10, 1), 'P10', 144600, 8.57],
 [511, datetime.date(2022, 10, 1), 'P10', 230000, 7.21],
 [512, datetime.date(2022, 10, 1), 'P10', 143800, 9.06],
 [519, datetime.date(2022, 10, 1), 'P10', 55000, 9.02],
 [521, datetime.date(2022, 10, 1), 'P10', 60100, 4.09],
 [525, datetime.date(2022, 10, 1), 'P10', 55000, 9.55],
 [526, datetime.date(2022, 10, 1), 'P10', 54300, 9.07],
 [528, datetime.date(2022, 10, 1), 'P10', 83400, 8.51],
 [529, datetime.date(2022, 10, 1), 'P10', 54000, 9.17],
 [538, datetime.date(2022, 10, 1), 'P10', 81400, 9.09],
 [543, datetime.date(2022, 10, 1), 'P10', 54600, 9.08],
 [545, datetime.date(2022, 10, 1), 'P10', 141300, 9.32],
 [547, datetime.date(2022, 10, 1), 'P10', 54300, 9.07],
 [551, datetime.date(2022, 10, 1), 'P10', 54700, 9.04],
 [555, datetime.date(2022, 10, 1), 'P10', 232400, 6.58],
 [557, datetime.date(2022, 10, 1), 'P10', 54500, 9.09],
 [558, datetime.date(2022, 10, 1), 'P10', 54500, 9.06],
 [560, datetime.date(2022, 10, 1), 'P10', 55200, 8.59],
 [562, datetime.date(2022, 10, 1), 'P10', 54600, 9.04],
 [565, datetime.date(2022, 10, 1), 'P10', 54100, 14.54],
 [567, datetime.date(2022, 10, 1), 'P10', 54500, 9.05],
 [570, datetime.date(2022, 10, 1), 'P10', 55500, 9.01],
 [580, datetime.date(2022, 10, 1), 'P10', 230900, 7.15],
 [581, datetime.date(2022, 10, 1), 'P10', 81700, 9.36],
 [585, datetime.date(2022, 10, 1), 'P10', 55000, 9.02],
 [589, datetime.date(2022, 10, 1), 'P10', 150400, 8.37],
 [590, datetime.date(2022, 10, 1), 'P10', 55700, 8.55],
 [592, datetime.date(2022, 10, 1), 'P10', 54700, 9.08],
 [599, datetime.date(2022, 10, 1), 'P10', 81900, 9.25],
 [605, datetime.date(2022, 10, 1), 'P10', 54300, 9.12],
 [613, datetime.date(2022, 10, 1), 'P10', 225300, 7.27],
 [615, datetime.date(2022, 10, 1), 'P10', 75900, 9.29],
 [622, datetime.date(2022, 10, 1), 'P10', 144100, 8.59],
 [623, datetime.date(2022, 10, 1), 'P10', 231300, 7.08],
 [629, datetime.date(2022, 10, 1), 'P10', 55900, 4.12],
 [630, datetime.date(2022, 10, 1), 'P10', 144000, 9.08],
 [631, datetime.date(2022, 10, 1), 'P10', 53800, 7.14],
 [633, datetime.date(2022, 10, 1), 'P10', 60300, 8.5],
 [637, datetime.date(2022, 10, 1), 'P10', 144000, 13.0],
 [639, datetime.date(2022, 10, 1), 'P10', 53800, 9.14],
 [640, datetime.date(2022, 10, 1), 'P10', 55000, 9.04],
 [641, datetime.date(2022, 10, 1), 'P10', 54800, 9.04],
 [642, datetime.date(2022, 10, 1), 'P10', 55600, 8.57],
 [643, datetime.date(2022, 10, 1), 'P10', 144700, 8.54],
 [644, datetime.date(2022, 10, 1), 'P10', 143500, 9.07],
 [645, datetime.date(2022, 10, 1), 'P10', 231300, 7.08],
 [646, datetime.date(2022, 10, 1), 'P10', 144200, 12.59],
 [647, datetime.date(2022, 10, 1), 'P10', 81000, 7.17],
 [648, datetime.date(2022, 10, 1), 'P10', 54700, 9.04],
 [652, datetime.date(2022, 10, 1), 'P10', 144100, 8.59],
 [654, datetime.date(2022, 10, 1), 'P10', 144600, 8.59],
 [655, datetime.date(2022, 10, 1), 'P10', 55000, 9.0],
 [656, datetime.date(2022, 10, 1), 'P10', 60100, 8.49],
 [657, datetime.date(2022, 10, 1), 'P10', 144500, 8.55],
 [660, datetime.date(2022, 10, 1), 'P10', 54500, 9.08],
 [661, datetime.date(2022, 10, 1), 'P10', 143500, 9.09],
 [662, datetime.date(2022, 10, 1), 'P10', 55000, 9.05],
 [663, datetime.date(2022, 10, 1), 'P10', 144100, 9.0],
 [665, datetime.date(2022, 10, 1), 'P10', 143400, 9.07],
 [667, datetime.date(2022, 10, 1), 'P10', 54600, 9.05],
 [668, datetime.date(2022, 10, 1), 'P10', 55400, 7.05],
 [671, datetime.date(2022, 10, 1), 'P10', 55000, 9.04],
 [672, datetime.date(2022, 10, 1), 'P10', 144000, 9.02],
 [673, datetime.date(2022, 10, 1), 'P10', 150400, 8.37],
 [675, datetime.date(2022, 10, 1), 'P10', 144100, 4.23],
 [677, datetime.date(2022, 10, 1), 'P10', 80600, 9.18],
 [678, datetime.date(2022, 10, 1), 'P10', 80900, 9.14],
 [683, datetime.date(2022, 10, 1), 'P10', 143800, 9.02],
 [684, datetime.date(2022, 10, 1), 'P10', 55000, 9.01],
 [688, datetime.date(2022, 10, 1), 'P10', 55800, 8.54],
 [689, datetime.date(2022, 10, 1), 'P10', 231300, 7.08],
 [690, datetime.date(2022, 10, 1), 'P10', 54900, 9.01],
 [691, datetime.date(2022, 10, 1), 'P10', 54500, 4.57],
 [695, datetime.date(2022, 10, 1), 'P10', 81900, 9.1],
 [697, datetime.date(2022, 10, 1), 'P10', 80800, 9.21],
 [699, datetime.date(2022, 10, 1), 'P10', 54700, 9.09],
 [700, datetime.date(2022, 10, 1), 'P10', 143500, 5.08],
 [701, datetime.date(2022, 10, 1), 'P10', 143400, 9.08],
 [702, datetime.date(2022, 10, 1), 'P10', 54600, 9.05],
 [703, datetime.date(2022, 10, 1), 'P10', 144600, 6.54],
 [705, datetime.date(2022, 10, 1), 'P10', 80900, 7.12],
 [706, datetime.date(2022, 10, 1), 'P10', 80800, 9.18],
 [707, datetime.date(2022, 10, 1), 'P10', 150300, 12.38],
 [708, datetime.date(2022, 10, 1), 'P10', 54500, 9.09],
 [709, datetime.date(2022, 10, 1), 'P10', 53800, 5.05],
 [713, datetime.date(2022, 10, 1), 'P10', 54600, 9.08],
 [714, datetime.date(2022, 10, 1), 'P10', 143700, 9.03],
 [715, datetime.date(2022, 10, 1), 'P10', 55000, 9.01],
 [717, datetime.date(2022, 10, 1), 'P10', 145500, 6.47],
 [718, datetime.date(2022, 10, 1), 'P10', 60200, 8.52],
 [719, datetime.date(2022, 10, 1), 'P10', 143800, 9.02],
 [723, datetime.date(2022, 10, 1), 'P10', 144300, 8.57],
 [726, datetime.date(2022, 10, 1), 'P10', 82600, 9.05],
 [727, datetime.date(2022, 10, 1), 'P10', 144200, 8.58],
 [729, datetime.date(2022, 10, 1), 'P10', 55900, 8.55],
 [732, datetime.date(2022, 10, 1), 'P10', 55100, 9.05],
 [734, datetime.date(2022, 10, 1), 'P10', 54000, 9.16],
 [735, datetime.date(2022, 10, 1), 'P10', 55800, 8.59],
 [736, datetime.date(2022, 10, 1), 'P10', 55200, 8.59],
 [737, datetime.date(2022, 10, 1), 'P10', 144300, 9.01],
 [739, datetime.date(2022, 10, 1), 'P10', 55800, 8.57],
 [740, datetime.date(2022, 10, 1), 'P10', 143400, 9.06],
 [741, datetime.date(2022, 10, 1), 'P10', 54700, 9.03],
 [743, datetime.date(2022, 10, 1), 'P10', 60400, 8.51],
 [758, datetime.date(2022, 10, 1), 'P10', 54400, 9.12],
 [761, datetime.date(2022, 10, 1), 'P10', 144700, 8.57],
 [763, datetime.date(2022, 10, 1), 'P10', 80900, 9.23],
 [766, datetime.date(2022, 10, 1), 'P10', 150300, 8.37],
 [772, datetime.date(2022, 10, 1), 'P10', 54500, 9.08],
 [778, datetime.date(2022, 10, 1), 'P10', 54600, 7.04],
 [786, datetime.date(2022, 10, 1), 'P10', 53000, 9.29],
 [787, datetime.date(2022, 10, 1), 'P10', 55100, 9.0],
 [788, datetime.date(2022, 10, 1), 'P10', 143800, 9.08],
 [789, datetime.date(2022, 10, 1), 'P10', 81600, 9.13],
 [790, datetime.date(2022, 10, 1), 'P10', 55400, 8.58],
 [794, datetime.date(2022, 10, 1), 'P10', 144000, 9.04],
 [795, datetime.date(2022, 10, 1), 'P10', 144300, 9.01],
 [797, datetime.date(2022, 10, 1), 'P10', 144700, 8.53],
 [803, datetime.date(2022, 10, 1), 'P10', 55700, 8.53],
 [811, datetime.date(2022, 10, 1), 'P10', 81400, 9.27],
 [816, datetime.date(2022, 10, 1), 'P10', 144600, 12.54],
 [824, datetime.date(2022, 10, 1), 'P10', 144200, 8.58],
 [825, datetime.date(2022, 10, 1), 'P10', 55900, 8.51],
 [827, datetime.date(2022, 10, 1), 'P10', 55600, 8.56],
 [828, datetime.date(2022, 10, 1), 'P10', 54600, 7.04],
 [832, datetime.date(2022, 10, 1), 'P10', 54900, 7.01],
 [833, datetime.date(2022, 10, 1), 'P10', 144300, 8.57],
 [834, datetime.date(2022, 10, 1), 'P10', 53900, 9.21],
 [836, datetime.date(2022, 10, 1), 'P10', 144000, 9.0],
 [837, datetime.date(2022, 10, 1), 'P10', 143600, 9.1],
 [838, datetime.date(2022, 10, 1), 'P10', 144600, 6.54],
 [839, datetime.date(2022, 10, 1), 'P10', 144300, 8.57],
 [840, datetime.date(2022, 10, 1), 'P10', 144100, 9.0],
 [841, datetime.date(2022, 10, 1), 'P10', 55800, 8.53],
 [843, datetime.date(2022, 10, 1), 'P10', 55500, 8.57],
 [844, datetime.date(2022, 10, 1), 'P10', 55500, 8.56],
 [845, datetime.date(2022, 10, 1), 'P10', 80800, 7.15],
 [846, datetime.date(2022, 10, 1), 'P10', 144400, 8.59],
 [847, datetime.date(2022, 10, 1), 'P10', 53800, 9.16],
 [848, datetime.date(2022, 10, 2), 'P10', 1300, 6.14],
 [851, datetime.date(2022, 10, 1), 'P10', 144600, 8.54],
 [853, datetime.date(2022, 10, 1), 'P10', 81800, 9.04],
 [860, datetime.date(2022, 10, 1), 'P10', 82300, 9.25],
 [862, datetime.date(2022, 10, 1), 'P10', 82600, 9.07],
 [863, datetime.date(2022, 10, 1), 'P10', 81900, 9.12],
 [874, datetime.date(2022, 10, 1), 'P10', 54700, 9.03],
 [875, datetime.date(2022, 10, 1), 'P10', 150400, 8.42],
 [878, datetime.date(2022, 10, 1), 'P10', 144100, 9.0],
 [879, datetime.date(2022, 10, 1), 'P10', 142200, 9.25],
 [883, datetime.date(2022, 10, 1), 'P10', 144100, 8.59],
 [888, datetime.date(2022, 10, 1), 'P10', 143600, 9.1],
 [895, datetime.date(2022, 10, 1), 'P10', 81800, 10.06],
 [896, datetime.date(2022, 10, 1), 'P10', 54600, 9.05],
 [903, datetime.date(2022, 10, 1), 'P10', 81800, 9.02],
 [906, datetime.date(2022, 10, 1), 'P10', 54900, 9.03],
 [907, datetime.date(2022, 10, 1), 'P10', 142400, 9.23],
 [909, datetime.date(2022, 10, 1), 'P10', 82100, 9.1],
 [910, datetime.date(2022, 10, 1), 'P10', 225600, 7.3],
 [914, datetime.date(2022, 10, 1), 'P10', 55500, 8.57],
 [917, datetime.date(2022, 10, 1), 'P10', 54600, 9.13],
 [925, datetime.date(2022, 10, 1), 'P10', 231200, 7.08],
 [926, datetime.date(2022, 10, 1), 'P10', 150400, 8.36],
 [928, datetime.date(2022, 10, 1), 'P10', 55000, 9.04],
 [930, datetime.date(2022, 10, 1), 'P10', 143800, 9.11],
 [931, datetime.date(2022, 10, 1), 'P10', 143500, 7.09],
 [936, datetime.date(2022, 10, 1), 'P10', 144100, 9.05],
 [937, datetime.date(2022, 10, 1), 'P10', 80100, 9.31],
 [939, datetime.date(2022, 10, 1), 'P10', 81700, 9.08],
 [941, datetime.date(2022, 10, 1), 'P10', 143500, 9.05],
 [943, datetime.date(2022, 10, 1), 'P10', 55800, 10.52],
 [946, datetime.date(2022, 10, 1), 'P10', 144100, 9.04],
 [947, datetime.date(2022, 10, 1), 'P10', 55000, 9.01],
 [950, datetime.date(2022, 10, 1), 'P10', 144200, 9.07],
 [951, datetime.date(2022, 10, 1), 'P10', 144500, 6.55],
 [952, datetime.date(2022, 10, 1), 'P10', 143200, 9.09],
 [953, datetime.date(2022, 10, 1), 'P10', 143700, 9.04],
 [954, datetime.date(2022, 10, 1), 'P10', 144200, 9.07],
 [956, datetime.date(2022, 10, 1), 'P10', 144500, 6.55],
 [957, datetime.date(2022, 10, 1), 'P10', 144700, 8.54],
 [958, datetime.date(2022, 10, 1), 'P10', 143600, 7.08],
 [963, datetime.date(2022, 10, 1), 'P10', 53400, 9.24],
 [966, datetime.date(2022, 10, 1), 'P10', 143400, 9.06],
 [968, datetime.date(2022, 10, 1), 'P10', 230900, 7.16],
 [973, datetime.date(2022, 10, 1), 'P10', 82200, 9.02],
 [974, datetime.date(2022, 10, 1), 'P10', 55500, 8.56],
 [975, datetime.date(2022, 10, 1), 'P10', 143900, 9.02],
 [979, datetime.date(2022, 10, 1), 'P10', 54600, 9.05],
 [980, datetime.date(2022, 10, 1), 'P10', 144100, 8.59],
 [985, datetime.date(2022, 10, 1), 'P10', 54800, 9.03],
 [986, datetime.date(2022, 10, 1), 'P10', 143700, 9.03],
 [987, datetime.date(2022, 10, 1), 'P10', 55000, 9.01],
 [990, datetime.date(2022, 10, 1), 'P10', 53800, 9.13],
 [993, datetime.date(2022, 10, 1), 'P10', 144600, 8.56],
 [994, datetime.date(2022, 10, 1), 'P10', 55500, 8.57],
 [998, datetime.date(2022, 10, 1), 'P10', 80900, 9.21],
 [999, datetime.date(2022, 10, 1), 'P10', 55100, 9.11],
 [1003, datetime.date(2022, 10, 1), 'P10', 54900, 9.03],
 [1004, datetime.date(2022, 10, 1), 'P10', 54200, 9.09],
 [1006, datetime.date(2022, 10, 1), 'P10', 144000, 9.01],
 [1007, datetime.date(2022, 10, 1), 'P10', 55300, 8.58],
 [1009, datetime.date(2022, 10, 1), 'P10', 143300, 8.59],
 [1020, datetime.date(2022, 10, 1), 'P10', 53600, 9.13],
 [1021, datetime.date(2022, 10, 1), 'P10', 144000, 9.0],
 [1022, datetime.date(2022, 10, 1), 'P10', 144600, 8.58],
 [1026, datetime.date(2022, 10, 1), 'P10', 144200, 9.0],
 [1033, datetime.date(2022, 10, 1), 'P10', 81900, 4.49],
 [1035, datetime.date(2022, 10, 1), 'P10', 143700, 9.03],
 [1039, datetime.date(2022, 10, 1), 'P10', 53700, 9.15],
 [1041, datetime.date(2022, 10, 1), 'P10', 54200, 9.08],
 [1043, datetime.date(2022, 10, 1), 'P10', 143500, 9.08],
 [1044, datetime.date(2022, 10, 1), 'P10', 232300, 6.59],
 [1047, datetime.date(2022, 10, 1), 'P10', 144600, 8.54],
 [1048, datetime.date(2022, 10, 1), 'P10', 54800, 9.05],
 [1049, datetime.date(2022, 10, 1), 'P10', 60800, 8.43],
 [1053, datetime.date(2022, 10, 1), 'P10', 142100, 9.12],
 [1055, datetime.date(2022, 10, 1), 'P10', 143500, 9.05],
 [1058, datetime.date(2022, 10, 1), 'P10', 143000, 7.03],
 [1085, datetime.date(2022, 10, 1), 'P10', 83500, 8.5],
 [1086, datetime.date(2022, 10, 1), 'P10', 80000, 9.28],
 [1087, datetime.date(2022, 10, 1), 'P10', 53700, 9.15],
 [1089, datetime.date(2022, 10, 1), 'P10', 143800, 9.03],
 [1091, datetime.date(2022, 10, 1), 'P10', 143800, 9.02],
 [1095, datetime.date(2022, 10, 1), 'P10', 53900, 7.11],
 [1098, datetime.date(2022, 10, 1), 'P10', 142800, 10.48],
 [1100, datetime.date(2022, 10, 1), 'P10', 55700, 9.1],
 [1101, datetime.date(2022, 10, 1), 'P10', 143500, 9.05],
 [1103, datetime.date(2022, 10, 1), 'P10', 144100, 8.59],
 [1104, datetime.date(2022, 10, 1), 'P10', 143700, 9.03],
 [1105, datetime.date(2022, 10, 1), 'P10', 60800, 8.43],
 [1107, datetime.date(2022, 10, 1), 'P10', 55800, 8.57],
 [1109, datetime.date(2022, 10, 1), 'P10', 225800, 7.22],
 [1110, datetime.date(2022, 10, 1), 'P10', 80800, 9.15],

In [14]:
"""Converting time from float to mins, applied logic to check if it is greater than 9hrs & 30mins. Subtacting the 
result to get over time (minutes) converting and storing it into hrs.minutes format. """

l3=[]
for i in range(len(l2)):
  
  frac, whole = math.modf(l2[i][4])
  mins=int(whole*60+frac*100)
  
  if l2[i][2]=='P10' and l2[i][3]>220000:
    # print(frac,whole)
    # print(l2[i][0])
    # print(l2[i][4])
    # print(mins)
    if mins>450:
      mins=mins-450
      hours=mins//60
      minutes=mins%60
      if minutes<10:
        ot_time = float("{}.0{}".format(hours, minutes))
      else:
        ot_time = float("{}.{}".format(hours, minutes))
      l2[i].append(ot_time)
      l3.append(l2[i])

  else:
    mins=mins-570
    hours=mins//60
    minutes=mins%60
    if minutes<10:
      ot_time = float("{}.0{}".format(hours, minutes))
    else:
      ot_time = float("{}.{}".format(hours, minutes))
    l2[i].append(ot_time)
    l3.append(l2[i])

In [15]:
#Removing redundant rows and storing in new data-structure
l4=[]
for i in range(len(l3)):
  if l3[i][5]>0:
    l4.append(l3[i])

In [16]:
# Converting 2d list to dataframe to apply CRUD opertations
df = pd.DataFrame(l4, columns=['E.Code','Date','IN/OUT','Time','Total Time','OT'])

In [17]:
#Droping an unnecesary column
df=df.drop(['IN/OUT','Time','Total Time'], axis=1)

In [18]:
df

        E.Code        Date    OT
0          174  2022-10-01  0.17
1          189  2022-10-01  0.04
2          361  2022-10-01  1.56
3          368  2022-10-01  0.29
4          442  2022-10-01  0.36
...        ...         ...   ...
8685  30010150  2022-10-14  1.14
8686  30010152  2022-10-14  0.02
8687  30010157  2022-10-14  1.41
8688  30010179  2022-10-14  0.06
8689  30010180  2022-10-14  0.06

[8690 rows x 3 columns]

In [19]:
ll1=[]
def binarySearch(arr, l, r, x):

	while l <= r:

		mid = l + (r - l) // 2

		# Check if x is present at mid
		if arr[mid] == x:
			return mid

		# If x is greater, ignore left half
		elif arr[mid] < x:
			l = mid + 1

		# If x is smaller, ignore right half
		else:
			r = mid - 1

	# If we reach here, then the element
	# was not present
	return -1


# Driver Code
arr = [int(i) for i in dataset2['E Code']]

for i in range(len(df)):
  # Function call
  result = binarySearch(arr, 0, len(arr)-1, df.iloc[i]['E.Code'])

  if result != -1:
      ll1.append([dataset2.iloc[result]['Full Name'], dataset2.iloc[result]['Designation'],dataset2.iloc[result]['Operation'],dataset2.iloc[result]['Division'],dataset2.iloc[result]['Department']])
  else:
      ll1.append(['NaN','NaN','NaN','NaN'])

In [20]:
# Converting 2d list to dataframe to apply CRUD opertations
dff = pd.DataFrame(ll1, columns=['Full Name','Designation','Operation','Division','Department'])

In [21]:
df_final = pd.concat([df['E.Code'], dff, df[['Date','OT']]], axis=1)

In [22]:
""" Printing dataframe (E.Code, Designation, Opr., Division, Dept., Date, OT (after decimal place refers to mins, before refers to hrs; 
e.g 0.27--> 27 minutes, 
    1.08--> 1hr & 8 minutes)) 
"""
df_final

,E.Code,Full Name,Designation,Operation,Division,Department,Date,OT
0,174,Sanjay Ananda Maharanvar,Manager,Manesar Plant,Production Body Manesar,Paint,2022-10-01,0.17
1,189,Santosh Kumar Soni,Manager,Tapukara Plant,Plant Engineering Tapukara,Maintenance Tapukara,2022-10-01,0.04
2,361,B David Marianayagam,Staff,Manesar Plant,Production Body Manesar,Assembly Frame,2022-10-01,1.56
3,368,Atanu Biswas,General Manager,Narsapura Plant,Production Control Narsapura,NaN,2022-10-01,0.29
4,442,Anil Kumar,Chief Manager,Manesar Plant,Plant Engineering Manesar,Safety & Environment,2022-10-01,0.36
...,...,...,...,...,...,...,...,...
8685,30010150,Naveen Kumar A,Apprentice,Narsapura Plant,Production Body Narsapura,Paint Narsapura,2022-10-14,1.14
8686,30010152,Thakor Kiranji,Apprentice,Vithalapur Plant,Production Body Vithalapur,Press & Weld 4F,2022-10-14,0.02
8687,30010157,Rathod Pareshsinh Gabhusinh,Apprentice,Vithalapur Plant,Production Power Train Vithalapur,Assembly Engine 4F,2022-10-14,1.41
8688,30010179,Mevada Yashkumar Kanaiyalal,Apprentice,Vithalapur Plant,Quality Control Vithalapur,Vehicle Quality 4F,2022-10-14,0.06
8689,30010180,Chaudhari Savankumar Rameshbhai,Apprentice,Vithalapur Plant,Quality Control Vithalapur,Vehicle Quality 4F,2022-10-14,0.06

In [23]:
# lx=[]
# for i in df_final['Operation']:
#   if i not in lx:
#     lx.append(i)


# for i in lx:
#   c,d=1,0
#   lxc=[]
#   for j in df_final['Operation']:
#     if i == j:
#       c+=1
#   lxc.append([i,c])
#   lx.append(lxc)

In [24]:
# df_final.iloc[10035]

In [25]:
""" Applying Groupby opr. to group dataframe on basis of E.Code and apply sum and count opr. to 
compute Total_OT & Total_OT_Days """

groupby_ecode_Total_OT = df.groupby(['E.Code'],as_index=False).sum()
groupby_ecode_Total_OT_Days = df.groupby(['E.Code'],as_index=False).count()
groupby_operation_sum = df_final.groupby(['Operation'],as_index=False).sum()
groupby_operation = df_final.groupby(['Operation'],as_index=False).count()
groupby_division_sum = df_final.groupby(['Division'],as_index=False).sum()
groupby_division = df_final.groupby(['Division'],as_index=False).count()
groupby_designation_sum = df_final.groupby(['Designation'],as_index=False).sum()
groupby_designation = df_final.groupby(['Designation'],as_index=False).count()

In [26]:
Operation_count = pd.DataFrame(df_final.groupby(['Operation'],as_index=False).size())
Division_count = pd.DataFrame(df_final.groupby(['Division'],as_index=False).size())
Designation_count = pd.DataFrame(df_final.groupby(['Designation'],as_index=False).size())

In [27]:
#Converting Groupby object into DataFrame to apply CRUD opr.
df2=pd.DataFrame(groupby_ecode_Total_OT)
df3=pd.DataFrame(groupby_ecode_Total_OT_Days)
df4=pd.DataFrame(groupby_operation)
df5=pd.DataFrame(groupby_division)
df6=pd.DataFrame(groupby_operation_sum)
df7=pd.DataFrame(groupby_division_sum)
df8=pd.DataFrame(groupby_designation)
df9=pd.DataFrame(groupby_designation_sum)

In [28]:
df4=df4.drop(['E.Code','Full Name','Designation','Division','Department','Date'], axis=1)
df5=df5.drop(['E.Code','Full Name','Designation','Operation','Department','Date'], axis=1)
df8=df8.drop(['E.Code','Full Name','Operation','Division','Department','Date'], axis=1)
df6=df6.drop(['E.Code'], axis=1)
df7=df7.drop(['E.Code'], axis=1)
df9=df9.drop(['E.Code'], axis=1)

In [29]:
df4.rename(columns={'OT': 'Total OT_Days'}, inplace=True)
df5.rename(columns={'OT': 'Total OT_Days'}, inplace=True)
df8.rename(columns={'OT': 'Total OT_Days'}, inplace=True)
# df6.rename(columns={'OT': 'Total OT_Days'}, inplace=True)
# df7.rename(columns={'OT': 'Total OT_Days'}, inplace=True)

In [30]:
l4=[]
for i in df2.index:
      frac, whole = math.modf(df2['OT'][i])
      mins=int(whole*60+frac*100)
      hours=mins//60
      minutes=mins%60
      if minutes<10:
          ot_time = float("{}.0{}".format(hours, minutes))
      else:
          ot_time = float("{}.{}".format(hours, minutes))
      l4.append(ot_time)

In [31]:
llp=[]
for i in df6.index:
      frac, whole = math.modf(df6['OT'][i])
      mins=int(whole*60+frac*100)
      hours=mins//60
      minutes=mins%60
      if minutes<10:
          ot_time = float("{}.0{}".format(hours, minutes))
      else:
          ot_time = float("{}.{}".format(hours, minutes))
      llp.append(ot_time)

In [32]:
lllp=[]
for i in df7.index:
      frac, whole = math.modf(df7['OT'][i])
      mins=int(whole*60+frac*100)
      hours=mins//60
      minutes=mins%60
      if minutes<10:
          ot_time = float("{}.0{}".format(hours, minutes))
      else:
          ot_time = float("{}.{}".format(hours, minutes))
      lllp.append(ot_time)

In [33]:
llllp=[]
for i in df9.index:
      frac, whole = math.modf(df9['OT'][i])
      mins=int(whole*60+frac*100)
      hours=mins//60
      minutes=mins%60
      if minutes<10:
          ot_time = float("{}.0{}".format(hours, minutes))
      else:
          ot_time = float("{}.{}".format(hours, minutes))
      llllp.append(ot_time)

In [34]:
df2['Total OT']=l4
df6['Total OT']=llp
df7['Total OT']=lllp
df9['Total OT']=llllp

In [35]:
#Droping an unnecesary column
df3=df3.drop(['Date'], axis=1)

In [36]:
df2=df2.drop(['OT'], axis=1)
df6=df6.drop(['OT'], axis=1)
df7=df7.drop(['OT'], axis=1)
df9=df9.drop(['OT'], axis=1)

In [37]:
#Renaming Columns
#df2.rename(columns={'OT': 'Total OT'}, inplace=True)
df3.rename(columns={'OT': 'Total OT_Days'}, inplace=True)

In [38]:
lp=[]
for i in range(len(df6)):
  lp.append(df6.iloc[i]['Total OT']/df4.iloc[i]['Total OT_Days'])
lp2=[]
for i in range(len(df7)):
  lp2.append(df7.iloc[i]['Total OT']/df5.iloc[i]['Total OT_Days'])
lp3=[]
for i in range(len(df9)):
  lp3.append(df9.iloc[i]['Total OT']/df8.iloc[i]['Total OT_Days'])

In [39]:
lp=pd.DataFrame(lp,columns=['Average OT'])
lp2=pd.DataFrame(lp2,columns=['Average OT'])
lp3=pd.DataFrame(lp3,columns=['Average OT'])

In [40]:
lp

    Average OT
0     0.217143
1     0.371111
2     0.475369
3     0.197273
4     0.806364
5     0.137500
6     0.065000
7     0.837021
8     1.882122
9     0.695474
10    0.836000
11    1.091671
12    0.422258
13    0.630233
14    1.216392
15    0.230750
16    0.870333
17    0.950000
18    0.584713
19    0.422973
20    0.790922
21    1.177090

In [41]:
#Creating a final dataframe (E.Code, Total OT_Days, Total OT)
# result = pd.concat([df3,df2], axis=1)
result_2 =  pd.concat([df4[['Operation','Total OT_Days']],df6['Total OT'],Operation_count['size'],lp['Average OT']], axis=1)
result_3 =  pd.concat([df5,df7['Total OT'],Division_count['size'],lp2['Average OT']], axis=1)
result_4 =  pd.concat([df8,df9['Total OT'],Designation_count['size'],lp3['Average OT']], axis=1)

In [42]:
result_2.rename(columns={'size': 'Count'}, inplace=True)
result_3.rename(columns={'size': 'Count'}, inplace=True)
result_4.rename(columns={'size': 'Count'}, inplace=True)

In [43]:
ll2=[]
def binarySearch(arr, l, r, x):

	while l <= r:

		mid = l + (r - l) // 2

		# Check if x is present at mid
		if arr[mid] == x:
			return mid

		# If x is greater, ignore left half
		elif arr[mid] < x:
			l = mid + 1

		# If x is smaller, ignore right half
		else:
			r = mid - 1

	# If we reach here, then the element
	# was not present
	return -1


# Driver Code
arr = [int(i) for i in dataset2['E Code']]

for i in range(len(df3)):
  # Function call
  res = binarySearch(arr, 0, len(arr)-1, df3.iloc[i]['E.Code'])

  if res != -1:
      ll2.append([dataset2.iloc[res]['Full Name'], dataset2.iloc[res]['Designation'],dataset2.iloc[res]['Operation'],dataset2.iloc[res]['Division'],dataset2.iloc[res]['Department']])
  else:
      ll2.append(['NaN','NaN','NaN','NaN'])

In [44]:
# Converting 2d list to dataframe to apply CRUD opertations
dfff = pd.DataFrame(ll2, columns=['Full Name','Designation','Operation','Division','Department'])

In [45]:
result = pd.concat([df3['E.Code'], dfff, df3['Total OT_Days'], df2['Total OT']], axis=1)

In [46]:
""" Printing dataframe (E.Code, Total OT (after decimal place refers to mins, before refers to hrs; 
e.g 0.27--> 27 minutes, 
    1.08--> 1hr & 8 minutes), 
    Total OT_Days) 
"""
result

,E.Code,Full Name,Designation,Operation,Division,Department,Total OT_Days,Total OT
0,32,Sanjeev Juyal,Chief Manager,General and Corporate Affairs,Industrial Relations,Employee Benefit,3,0.27
1,48,Sanjul Saxena,General Manager,Customer Service,CS Technical,NaN,1,0.03
2,49,Atul Goel,General Manager,New Model Purchase & Parts Strategy,Cost & Parts Strategy Frame & Budget,NaN,2,0.27
3,72,Manish Bansal,General Manager,Mass Production Purchase & Supplier Mgmt,General Purchase 1,NaN,1,0.02
4,80,M V N Purushottam Sarma,Chief Manager,Narsapura Plant,NaN,Projects,7,7.29
...,...,...,...,...,...,...,...,...
3472,30010179,Mevada Yashkumar Kanaiyalal,Apprentice,Vithalapur Plant,Quality Control Vithalapur,Vehicle Quality 4F,2,0.10
3473,30010180,Chaudhari Savankumar Rameshbhai,Apprentice,Vithalapur Plant,Quality Control Vithalapur,Vehicle Quality 4F,2,0.10
3474,30010194,NaN,NaN,NaN,NaN,None,1,1.39
3475,30010199,NaN,NaN,NaN,NaN,None,1,1.36
3476,30010202,NaN,NaN,NaN,NaN,None,1,1.31

In [47]:
l_diff=[]
if date_diff==88 or 89 or 90 or 91 or 92:
  for i in range(len(result)):
    if result.iloc[i]['Total OT']>50:
      l_diff.append([result.iloc[i]['E.Code'],result.iloc[i]['Full Name'],result.iloc[i]['Designation'],result.iloc[i]['Operation'],result.iloc[i]['Division'],result.iloc[i]['Department'],result.iloc[i]['Total OT_Days'],result.iloc[i]['Total OT']])
elif date_diff==28 or 29 or 30 or 31:
  for i in range(len(result)):
    if result.iloc[i]['Total OT']>16:
      l_diff.append([result.iloc[i]['E.Code'],result.iloc[i]['Full Name'],result.iloc[i]['Designation'],result.iloc[i]['Operation'],result.iloc[i]['Division'],result.iloc[i]['Department'],result.iloc[i]['Total OT_Days'],result.iloc[i]['Total OT']])
else:
  for i in range(len(result)):
    if result.iloc[i]['Total OT']>((16/30)*date_diff):
      l_diff.append([result.iloc[i]['E.Code'],result.iloc[i]['Full Name'],result.iloc[i]['Designation'],result.iloc[i]['Operation'],result.iloc[i]['Division'],result.iloc[i]['Department'],result.iloc[i]['Total OT_Days'],result.iloc[i]['Total OT']])

In [48]:
l_diff = pd.DataFrame(l_diff, columns=['E.Code','Full Name','Designation','Operation','Division','Department','Total OT_Days','Total OT'])

In [49]:
l_diff

Empty DataFrame
Columns: [E.Code, Full Name, Designation, Operation, Division, Department, Total OT_Days, Total OT]
Index: []

In [50]:
# consecutive_days=[]
# employees_covered=[]
# for i in range(len(df_final)):
#   count=1
#   if df_final.iloc[i]['E.Code'] not in employees_covered:
#     employees_covered.append([i,df_final.iloc[i]['E.Code']])
#     for j in range(i+1,len(df_final)):
#       if df_final.iloc[i]['Date'] ==df_final.iloc[j]['Date']:
#         count+=1
#     if count>1:
#       consecutive_days.append([df_final.iloc[i]['E.Code'],df_final.iloc[i]['Full Name'],df_final.iloc[i]['Designation'],df_final.iloc[i]['Operation'],df_final.iloc[i]['Division'],df_final.iloc[i]['Department']])

In [51]:
# consecutive_days = pd.DataFrame(consecutive_days, columns=['E.Code','Full Name','Designation','Operation','Division','Department'])

In [52]:
# Sorting dataframe in descending order on basis of Total OT_Days (User can get top x employees on basis of Total OT_Days)
cont2=result.sort_values(by=['Total OT_Days'], ascending=False)

In [53]:
cont2_consecutive=[]
i=0
while cont2.iloc[i]['Total OT_Days']>=10:
  cont2_consecutive.append(cont2.iloc[i]['E.Code'])
  i+=1

In [54]:
cont2_consecutive
l_con=[]
for x in cont2_consecutive:
  for j in range(len(df_final)):
    if x == df_final.iloc[j]['E.Code']:
      l_con.append([x, df_final.iloc[j]['Date']])

In [69]:
for j in cont2_consecutive:
  p,c=0,1
  for i in range(len(l_con)):
    p=i+1
    if j==l_con[i][0] and j==l_con[p][0]:
      while j==l_con[p][0]:
        if int(l_con[i][0])-int(l_con[p][0])==0:
          c+=1

1

In [56]:
# Sorting dataframe in descending order on basis of Total OT (User can get top x employees on basis of Total OT)
cont3=result.sort_values(by=['Total OT'], ascending=False)

In [57]:
cont4=result_2.sort_values(by=['Total OT_Days'], ascending=False)

In [58]:
cont5=result_2.sort_values(by=['Total OT'], ascending=False)

In [59]:
cont6=result_3.sort_values(by=['Total OT_Days'], ascending=False)

In [60]:
cont7=result_3.sort_values(by=['Total OT'], ascending=False)

In [61]:
cont8=result_4.sort_values(by=['Total OT_Days'], ascending=False)

In [62]:
cont9=result_4.sort_values(by=['Total OT'], ascending=False)

In [63]:
!pip install xlsxwriter

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting xlsxwriter
  Downloading XlsxWriter-3.0.3-py3-none-any.whl (149 kB)
     |████████████████████████████████| 149 kB 5.2 MB/s
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-3.0.3

In [64]:
from openpyxl import Workbook
import xlsxwriter
import os

workbook = xlsxwriter.Workbook(r'OT_Analysis.xlsx')
with pd.ExcelWriter(r'OT_Analysis.xlsx') as writer:
#writer = r"C:\Users\Kartikey\Desktop\shorttt.xlsx"
# write dataframe to excel
    df_final.to_excel(writer,sheet_name='OT')
    result.to_excel(writer,sheet_name='Total_OT')
    cont2.to_excel(writer,sheet_name='Highest_Total_OT_Days')
    cont3.to_excel(writer,sheet_name='Highest_Total_OT')
    l_diff.to_excel(writer,sheet_name='Exceeding OT Limit')
    cont4.to_excel(writer,sheet_name='Operation_Highest_Total_OT_Days')
    cont5.to_excel(writer,sheet_name='Operation_Highest_Total_OT')
    cont6.to_excel(writer,sheet_name='Division_Highest_Total_OT_Days')
    cont7.to_excel(writer,sheet_name='Division_Highest_Total_OT')
    cont8.to_excel(writer,sheet_name='Desig_Highest_Total_OT_Days')
    cont9.to_excel(writer,sheet_name='Desig_Highest_Total_OT')